body,html{
    margin: 0px;
    height: 100%;
}

body{
    justify-content: center;
}

.flex{
    display: flex;
}

.calendario{
    color: #521835;
    text-align: center;
    padding: 10px;
    flex: 1;
    flex-direction: column;
}
.center{
    align-self: center;
}

.cabecalho{
    margin: 30px 0 0px 0;
    transform:translate(-20px);
    width: 300px;
}

.calendario h3{
    flex: 2;
}
.noBorder{
    border: none;
}
button img{
    height: 20px;
    width: 20px;
    transition-property: width, height;
    transition-duration: .3s;
    transition-timing-function: ease;
}
#previousMonth img:hover{
    height: 25px;
    width: 25px;
}

#nextMonth img:hover{
    height: 25px;
    width: 25px;
}
#previousMonth img{
    transform: rotate(180deg);
}
.detalhesDia{
    color: white;
    background-color: #521835;
    flex: 1;
    padding: 10px;
    text-align: center;
    border-radius: 15px 0 0 15px;
    box-shadow: -1px 0px 50px black;
}

.dias{
    width: 500px;
}

.shadow{
    box-shadow: none;
}
.hover:hover{
    cursor: pointer;
    background-color: #57406E;
}

.dia{
    color: white;
    box-sizing: border-box;
    background-color: #521835;
    flex: 0 1 50px;
    height: 50px;
    margin: 16px;
    margin-right: 0;
    padding: 2%;
    border-radius: 10%;
}

.shadow{
    box-shadow: -3px 0px 10px black;
}
.diaMesPassado{
    opacity: 30%;   
}
.transparent{
    color:#521835;
    background-color: white;
    margin-bottom: -10px;
}

@media (max-width: 480px){
    body{
        flex-direction: column;
    }

    .detalhesDia{
        border-radius: 15px 15px 0 0;
        width: 100%;
        padding: 0;
    }
    .cabecalho {
        margin-top: 10px;
        width: 200px;
        transform: translateX(-10px);
    }
    .dias{
        width: 300px;
        box-shadow: 0 0 0 0;
    }

    .dia{
        flex: 0 1 20px;
        box-sizing: content-box;
        font-size: 12px;
        height: 20px;
        margin: 10px;
        margin-left: 0px;
    }
  }
